.major-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 100vh;
}

.container {
    display: grid;
    
    width: 512px;
    height: 512px;
    border: solid blue;
}

.container div {
    border: 1px rgba(68, 63, 63, 0.116) solid;
}